.green,
.red,
.blue,
.black{
  width: 100px;
  height: 100px;
  position: absolute;
}

.green{
  background-color: #009688;
  z-index: 3;
  top: 30px;
  left: 30px;
}

.red{
  background-color: #f44336;
  z-index: 4;
  top: 40px;
  left: 40px;
}

.blue{
  top: 20px;
  left: 20px;
  background-color: #03a9f4;
  z-index: 2;
}

.black{
  background-color: #333333;
  z-index: 1;
  top: 30px;
  left: 20px;
}