.content > .box {
  padding: 15px;
}
.content > .box > .title {
  font-size: 18px;
}
.content .cat {
  padding: 15px;
}
.content.premium:before {
  content: "Premium Box,";
}
.content.premium:hover {
  content: "Premium Box,";
}