/* 
  --Colors--
  - light grey #f2f2f4
  - grey       #dededc
*/

*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
:root{
  --mainPadding: 20px;
  --mainMarginTop: 40px;
}

.father{
  background-color: #f2f2f4;
  width: 400px;
  height: 200px;
  margin: var(--mainMarginTop) auto 0;
  padding: var(--mainPadding);

  text-align: center;

  -webkit-transition-duration: 500ms;

       -o-transition-duration: 500ms;

          transition-duration: 500ms;
}

.son{
  background-color: #dededc;
  width: 300px;
  height: 60px;
  margin: 20px auto 0;
  padding: var(--mainPadding);

  text-align: center;

  -webkit-transition-duration: 500ms;

       -o-transition-duration: 500ms;

          transition-duration: 500ms;
  -webkit-transition-delay: 500ms;
       -o-transition-delay: 500ms;
          transition-delay: 500ms;
}

.father:hover{
  margin-top: 0px;
}

.father:hover .son{
  margin-top: var(--mainMarginTop);
}