.parent {
  margin-bottom: 20px;
  overflow: hidden;
}
.one {
  background-color: #eee;
  padding: 10px;
  width: 600px;
  float: left;
  position: relative;
}

.user {
  background-color: #eee;
  width: 50px;
  margin-right: 20px;
  padding: 10px;
  height: 55.5px;
  float: left;
  font-size: 50px;
  text-align: center;
}

/* .one .pipeline{
  position: absolute;
  width: 5px;
  height: 100%;
  right: -10px;
  top: 0;
  background-color: #42dcdf;
} */

.one::before{
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translate(-25%, -50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #42dcdf;
  margin: 0px;
  padding: 0px;
}

.one::after{
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  right: -10px;
  top: 0;
  background-color: #42dcdf;
}