//- Create Files and Watch To Start Work

//- doctype
//- html
//-   head
//-   body

//- Indentation Training And How To Use It
//- doctype
//- html
//-   head
//-     meta
//-     title My First Pug File
//-   body
//-     div
//-       h1 My First Pug File
//-         span This is a span inside h1
//-       span This is a span inside div


//- How To Deal With Tags And Elements

//- html
//-   head
//-     meta
//-     title My First Pug File
//-   body
//-     div
//-       h1 My First Pug File
//-         span This is a span inside h1
//-       span This is a span inside div
//-     ul 
//-       li Item 1
//-       li Item 2
//-       li: a(href="https://www.google.com") Google

//- Comments And Special Features

//- html
//-   head
//-     title My resume
//-   body
//-     div
//-       h2 My resume
//-       // 
//-         start 
//-         my 
//-         skills
//-       //- start my skills don't show in html
//-       ul
//-         li PHP
//-         li NodeJS
//-         li JavaScript
//-         li HTML
//-       // end my skills
//-       //- end my skills don't show in html
//-       p My name is <b>Ahmed</b>

//- White Space Control

//- html
//-   head
//-     title My resume
//-   body
//-     div
//-       h2 My resume
//-       ul
//-         li PHP
//-         li NodeJS
//-         li JavaScript
//-         li HTML
//-       p My name is <b>Ahmed</b>
//-       |  and my family 
//-       |  name is 
//-       <b>Ali</b>
//-       |
//-       |
//-       |
//-       .
//-         My nickname is Hamada


//- Attributes part 1 

//- html
//-   head
//-     title My resume
//-   body
//-     .ossama
//-     div(class="container", id="main")
//-       h2(class="main-title") My resume
//-       div(class="row" id="skills")
//-         ul
//-           li PHP
//-           li NodeJS
//-           li JavaScript
//-           li HTML
//-       ul
//-         li PHP
//-         li NodeJS
//-         li JavaScript
//-         li HTML
//-       p.main-paragraph My name is <b>Ahmed</b>
//-       p#main-paragraph My name is <b>Ahmed</b>
//-       |  and my family 
//-       |  name is 
//-       <b>Ali</b>
//-       |
//-       |
//-       |
//-       .
//-         My nickname is Hamada

//- ---------------------------

html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="random description")
    // Styles
    include includes/styles.pug
    title My resume
  body
    .ossama
    div(class="container", id="main")
      h2(class="main-title") My resume
      div(class="row" id="skills")
        ul
          li PHP
          li NodeJS
          li JavaScript
          li HTML
      ul
        li PHP
        li NodeJS
        li JavaScript
        li HTML
      p.main-paragraph My name is <b>Ahmed</b>
      p#main-paragraph My name is <b>Ahmed</b>
      |  and my family 
      |  name is 
      <b>Ali</b>
      |
      |
      |
      .
        My nickname is Hamada
    form
      h2.contact-title Contact me
      input(class= "f-c",type="text", name="user",placeholder="Your Name")
      input(class= "f-c",type="text", name="user",placeholder="Your Name")
      input(
        class= "f-c",
        type="text",
        name="user",
        placeholder="Your Name"
        )
      button(style={
        'background-color': 'blue',
        'color': 'white'}) Send
      button(style="background-color: red; color: white") Reset
    include includes/scripts.pug