div{
  display: block;
  
  width: 300px;
  height: 60px;
  margin: 20px;
  padding: 20px;

  background-color: #eee;

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 60px;
}

div:empty{
  background-color: red;
}