.one {
  background-color: red;
  color: white;
}
.two {
  background-color: #EEE;
  width: 100px;
  height: 100px;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: red;
}

.ch:checked + label {
  color: red;
}

.ch:checked {
  display: none;
}

a:visited {
  color: red;
}

div:empty {
  border: 10px red solid;
}

.in{
  border: 2px black solid;
}

.in:focus{
  border-color: yellow;
  outline: none;
}